<p>A complete Post with all Comments</p>

<%= render "post", post: @post %>
<%= render "likes/like" %>
<div class="post-comments mt-4 border-2 border-gray-500">
  <% @post.comments.each do |comment| %>
    <div class="post-comment">
      <p>
        <span><%= comment.author.name %>:</span>
        <span><%= comment.text %></span>
      </p>
    </div>
  <% end %>
  <div>
    <br>
    <h2>Add new comment</h2>
    <%= render "comments/comment" %>
  </div>
<div>
